google
google.generativeai

# FastAPI + Starlette
fastapi
uvicorn

python-frontmatter

requests

# Middleware / Sessions
itsdangerous
python-dotenv

# CORS
httpx

# Google + OpenAI APIs
google-genai
openai


# ChromaDB
chromadb==1.0.11

# Optional: if you use this for converting HTML to markdown
markdownify

# Chunking / splitting
semantic_text_splitter

# Utility
tqdm
pillow

# Pydantic for request validation
pydantic
